<html>
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Downloader | <%= catagorie %></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/libs/slimselect.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar", { MalLoggedIn: MalLoggedIn }) %>

    <!-- loading -->
    <div id="loading-container">
      <img src="./images/loading.gif" class="loading-image" />
      <div class="loading-text">Loading</div>
    </div>

    <!-- main content -->
    <main class="main-content">
      <h2><%= catagorie %></h2>
      <section class="anime-filters" id="anime-filters"></section>
      <section class="anime-grid" id="anime-grid"></section>
    </main>
    <script src="/js/libs/slimselect.js"></script>
    <script src="/js/index.js"></script>
    <script>
      init("<%= Pagination %>", "<%= api %>", "<%= infoapi %>");
    </script>
  </body>
</html>
