<html>
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Downloader | <%= catagorie %></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/icons.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar") %>

    <!-- main content -->
    <main class="main-content">
      <h2><%= catagorie %></h2>
      <% if (data && data.results && data.results.length > 0) { %>
      <section class="anime-grid" id="anime-grid">
        <% data.results.forEach(result => { %>
        <a
          href="/info?<%= catagorie === 'Local Anime Library' ? 'localanimeid' : 'animeid' %>=<%= result.id %>"
        >
          <div class="anime-item">
            <img
              src="<%= result.image %>"
              alt="<%= result.title %>"
              class="thumbnail"
            />
            <% if (result?.totalEpisodes && result?.Downloaded) { %>
            <div class="episodes">
              <div class="downloaded">
                <div class="material-symbols-rounded">download_done</div>
                <%= result?.Downloaded?.length %>
              </div>
              <div class="total">
                <div class="material-symbols-rounded">download</div>
                <%= result?.totalEpisodes %>
              </div>
            </div>
            <% } %>
            <div class="overlay"><%= result.title %></div>
          </div>
        </a>
        <% }); %>
      </section>
      <% } %>
    </main>
    <script src="/js/index.js"></script>
    <script>
      init(
        "<%= Pagination %>",
        "<%= catagorie %>",
        '<%= data?.hasNextPage ? "true" : "false" %>' === "true"
      );
    </script>
  </body>
</html>
