<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Downloader</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.css" />
    <link rel="stylesheet" href="/css/info.css" />
    <link rel="stylesheet" href="/css/libs/video-js.css" />
    <link rel="stylesheet" href="/css/libs/video-js-quality.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar") %>

    <!-- Modal -->
    <div
      class="modal fade"
      id="downloadModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="downloadModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
        style="color: black"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="downloadModalLabel">
              Download Episodes
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="download-form">
              <div class="form-group">
                <label for="start-episode">Start Episode:</label>
                <input
                  type="number"
                  class="form-control"
                  id="start-episode"
                  name="start-episode"
                  min="1"
                  required
                />
              </div>
              <div class="form-group">
                <label for="end-episode">End Episode:</label>
                <input
                  type="number"
                  class="form-control"
                  id="end-episode"
                  name="end-episode"
                  min="1"
                  max="<%= data.totalEpisodes %>"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Download</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- info of anime -->
    <div class="container-fluids">
      <div class="anime-info">
        <div class="anime-info-left">
          <img
            class="anime-image"
            src="<%= data.image %>"
            alt="<%= data.title %>"
          />

          <div class="additional-info">
            Type: <%= data.type %> (<%= data.subOrDub || "UNKNOWN" %>)
            <br />
            Total Episodes: <%= data?.totalEpisodes %>
            <br />
            <%= data?.status ? `Status: ${data?.status}` : "" %> <% if
            (data?.subs > 0) { %><br />Subs Episodes: <%= data.subs %><% } %> <%
            if (data?.dubs > 0) { %><br />Dubs Episodes: <%= data.dubs %><% } %>
          </div>
        </div>
        <div class="anime-info-right">
          <div class="anime-title font"><%= data.title %></div>
          <div class="description"><%= data.description %></div>
          <div class="genres">
            <% data?.genres?.forEach(genre => { %>
            <button type="button" class="btn btn-outline-warning round btn-sm">
              <%= genre %>
            </button>
            <% }); %>
          </div>
          <div class="episodes">
            <h2>Download Options</h2>
          </div>

          <% if (data.id.includes('-both')) { %>
          <!-- Toggle Button -->
          <div class="toggle-container" id="toggle-container">
            <button
              id="toggleDownloadOptions"
              class="btn btn-outline-info"
              onclick="toggleDownloadOptions()"
            >
              Show Dub 🎥
            </button>
          </div>

          <!-- Download Options (hidden initially) -->
          <div class="genres downloadOptions">
            <div class="subOptions" id="subOptions"></div>
            <div class="dubOptions" id="dubOptions" style="display: none"></div>
          </div>
          <% } else { %>
          <div class="genres">
            <button
              data-ep="<%= data.id %>"
              data-total-episodes="<%= data.totalEpisodes %>"
              class="btn btn-outline-secondary round download-form-button"
            >
              Download From Specific Episodes
            </button>
            <button
              id="downloadall"
              type="button"
              class="btn btn-outline-secondary round"
              onclick="download(<%= JSON.stringify(data.id) %>, 1, <%= data.totalEpisodes %>)"
            >
              Download All Episodes
            </button>
          </div>

          <div id="modal-root"></div>
          <div class="wrapper">
            <div class="episode-container">
              <% for (let i = data.totalEpisodes - 1; i >= 0; i--) { %>
              <button
                class="episode"
                type="button"
                onclick="download('<%= data.id %>', '<%= i + 1 %>')"
              >
                Download Episode <%= i + 1 %>
              </button>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- imports -->
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/bootstrap.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/info.js"></script>
    <!-- <script src="/js/libs/videojs-http-source-selector.js"></script>
    <script src="/js/libs/video.js"></script>
    <script src="/js/libs/videojs-contrib-quality-levels.js"></script> -->
    <!-- <script src="/js/player/quality.js"></script> -->
    <!-- <script src="/js/player/play.js"></script> -->

    <!-- creating buttons -->
    <script>
      <% if (data?.subs > 0) { %>
        createDownloadButton('sub', <%= data?.subs %>, '<%= data.id %>');
      <% } %>
      <% if (data?.dubs > 0) { %>
        createDownloadButton('dub', <%= data?.dubs %>, '<%= data.id %>');
      <% } %>
    </script>
  </body>
</html>
