<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Downloader | <%= data.title %></title>
    <link rel="stylesheet" href="/css/libs/bootstrap.css" />
    <link rel="stylesheet" href="/css/info.css" />
    <link rel="stylesheet" href="/css/libs/video-js.css" />
    <link rel="stylesheet" href="/css/libs/video-js-quality.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar") %>

    <!-- Modal -->
    <div
      class="modal fade"
      id="downloadModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="downloadModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
        style="color: black"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="downloadModalLabel">
              Download Episodes
            </h5>
          </div>
          <div class="modal-body">
            <form id="download-form">
              <div class="form-group">
                <label for="start-episode">Start Episode:</label>
                <input
                  type="number"
                  class="form-control"
                  id="start-episode"
                  name="start-episode"
                  min="1"
                  required
                />
              </div>
              <div class="form-group">
                <label for="end-episode">End Episode:</label>
                <input
                  type="number"
                  class="form-control"
                  id="end-episode"
                  name="end-episode"
                  min="1"
                  max="<%= data.totalEpisodes %>"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Download</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- info of anime -->
    <div class="container-fluids">
      <div class="anime-info">
        <div class="anime-info-left">
          <img
            class="anime-image"
            src="<%= data.image %>"
            alt="<%= data.title %>"
          />

          <div id="additional-info">
            <!--  -->
            <% if (data?.type) { %>
            <br />
            Type: <%= data.type %> <% if (data?.subOrDub) { %> ( <%=
            data.subOrDub %> ) <% } %> <% } %>
            <!--  -->
            <% if (data?.totalEpisodes) { %>
            <br />
            Total Episodes: <%= data.totalEpisodes %> <% } %>
            <!--  -->
            <% if (data?.DownloadedEpisodes) { %>
            <br />
            Downloaded Episodes: <%= data.DownloadedEpisodes.length %> <% } %>
            <!--  -->
            <% if (data?.status) { %>
            <br />
            Status: <%= data.status %> <% } %>
            <!--  -->
            <% if (data?.subs && data.subs > 0) { %>
            <br />
            Subs Episodes: <%= data.subs %> <% } %>
            <!--  -->
            <% if (data?.dubs && data.dubs > 0) { %>
            <br />
            Dubs Episodes: <%= data.dubs %> <% } %>
            <!--  -->
            <% if (data?.aired) { %>
            <br />
            Aired On: <%= data.aired %> <% } %>
            <!--  -->
            <% if (data?.last_updated) { %>
            <br />
            Last Updated : <%= data.last_updated %> <% } %>
            <!--  -->
          </div>
        </div>
        <div class="anime-info-right">
          <div class="anime-title font"><%= data.title %></div>
          <div class="description"><%= data.description %></div>
          <div class="genres">
            <% data?.genres?.forEach(genre => { %>
            <button type="button" class="btn btn-outline-warning round btn-sm">
              <%= genre %>
            </button>
            <% }); %>
          </div>
          <div class="genres">
            <div class="watch-sync-container">
              <button
                id="watch-download-tongle"
                class="btn btn-outline-info"
                onclick="toggleDownloadWatch(`<%= typeof Internet === 'undefined' || Internet !== false ? 'true' : 'false' %>` ===
              `true`)"
              >
                Watch
              </button>
              <!--  -->
              <% if (typeof Internet !== "undefined" && Internet !== false) { %>
              <button
                id="sync"
                class="btn btn-outline-info"
                onclick="SyncAnimeInfo('<%= data.id %>')"
              >
                Sync
              </button>
              <% } %>
            </div>
          </div>
          <div id="downloadContainer">
            <div class="episodes">
              <h2>Download Options</h2>
              <% if (data?.DownloadedEpisodes?.length > 0) { %>
              <h6>
                Hidden episodes already downloaded: <%=
                data?.DownloadedEpisodes?.join(", ") %>
              </h6>
              <% } %>
            </div>

            <% if (data.id.includes('both')) { %>
            <!-- Toggle Button -->
            <div class="toggle-container" id="toggle-container">
              <button
                id="toggleDownloadOptions"
                class="btn btn-outline-info"
                onclick="toggleDownloadOptions()"
              >
                Show Dub 🎥
              </button>
            </div>

            <!-- Download Options (hidden initially) -->
            <div class="genres downloadOptions">
              <div class="subOptions" id="subOptions"></div>
              <div
                class="dubOptions"
                id="dubOptions"
                style="display: none"
              ></div>
            </div>
            <% } else { %>
            <div class="genres">
              <div class="toggle-container">
                <button
                  data-ep="<%= data.id %>"
                  data-total-episodes="<%= data.totalEpisodes %>"
                  class="btn btn-outline-info subOptions download-form-button"
                >
                  Download From Specific Episodes
                </button>
                <button
                  id="downloadall"
                  type="button"
                  class="btn btn-outline-info dubOptions"
                  onclick='download("<%= data.id %>", 1, "<%= data.totalEpisodes %>")'
                >
                  Download All Episodes
                </button>
              </div>
            </div>

            <div id="modal-root"></div>
            <div class="wrapper">
              <div class="episode-container">
                <% for (let i = 1; i <= data.totalEpisodes; i++) { %> <% if
                (data?.DownloadedEpisodes?.includes(i)) { continue; } %>
                <button
                  class="episode"
                  type="button"
                  onclick="download('<%= data.id %>', '<%= i %>')"
                >
                  Download Episode <%= i %>
                </button>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
          <div id="watchContainer" style="display: none">
            <div class="video-player">
              <div class="description" id="now_playing">Now Playing :</div>
              <video
                id="vid1"
                class="video-js vjs-default-skin"
                controls
              ></video>
              <br />
              select video
              <h4>Click on ep from below to start playing!</h4>

              <!-- Playing From Downloads File  -->
              <% if (data?.DownloadedEpisodes) { %>
              <h5>Play From Downloads</h5>
              <div class="d-grid gap-2 episode-container scrollable-ele">
                <% data?.DownloadedEpisodes?.forEach(ep => { %>
                <button
                  class="btn btn-success round"
                  type="button"
                  onclick="Videoplay('<%= data.id %>', '<%= ep %>', true)"
                >
                  Watch ep <%= ep %>
                </button>
                <% }); %>
              </div>
              <% } %>
              <!-- Playing From Downloads File End -->
              <!-- Online Player -->
              <% if ((Array.isArray(data?.DownloadedEpisodes) && Internet) ||
              !data?.DownloadedEpisodes) { %>
              <h5>Play From Online</h5>
              <div class="d-grid gap-2 episode-container scrollable-ele">
                <% data.episodes.forEach(ep => { %> <% if
                (!Array.isArray(data?.DownloadedEpisodes) ||
                !data.DownloadedEpisodes.includes(ep.number)) { %>
                <button
                  class="btn btn-success round"
                  type="button"
                  onclick="Videoplay('<%= data.id %>', '<%= ep.number %>', false)"
                >
                  Watch Ep <%= ep.number %>
                </button>
                <% } %> <% }); %>
              </div>
              <% } else { %>
              <br />
              <h5>Online Player is Hidden!</h5>
              <h5>Reason: No Internet Connection.</h5>
              <br /><br /><br />
              <% } %>
              <!-- Online Player End -->
            </div>
          </div>
          <div id="nointernet">
            <strong>No Internet Connection!</strong><br />
            Download options are currently unavailable.<br />
            Please check your connection and Revisit the page.
          </div>
        </div>
      </div>
    </div>

    <!-- imports -->
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/bootstrap.js"></script>
    <script src="/js/info.js"></script>
    <script src="/js/libs/videojs-http-source-selector.js"></script>
    <script src="/js/libs/video.js"></script>
    <script src="/js/libs/videojs-contrib-quality-levels.js"></script>
    <script src="/js/player/quality.js"></script>
    <script src="/js/player/play.js"></script>

    <!-- creating buttons -->
    <script>
      let epsorted = "<%= data?.epsorted %>" === "true" ? true : false;
      let subs = parseInt("<%= data?.subs %>");
      let dubs = parseInt("<%= data?.dubs %>");
      let DownloadedEpisodes = `<%- JSON.stringify(data?.DownloadedEpisodes) %>`;

      const Internet =
        `<%= typeof Internet === 'undefined' || Internet !== false ? 'true' : 'false' %>` ===
        `true`;

      if (Internet) {
        if (epsorted && subs > 0 && dubs > 0) {
          let episodesString = <%- JSON.stringify(data.episodes) %>;

          createDownloadButton_with_episodes_array(
            episodesString,
            "<%= data.id %>"
          );
        } else {
          if (subs > 0) {
            createDownloadButton("sub", subs, "<%= data.id %>");
          }
          if (dubs > 0) {
            createDownloadButton("dub", dubs, "<%= data.id %>");
          }
        }
      } else {
        const downloadContainer = document.getElementById("downloadContainer");
        const Nointernet = document.getElementById("nointernet");

        downloadContainer.style.display = "none";
        Nointernet.style.display = "block";
      }
    </script>
  </body>
</html>
