<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StrawVerse</title>
    <link rel="stylesheet" href="/css/info.css" />
    <link rel="stylesheet" href="/css/mangainfo.css" />
    <link rel="stylesheet" href="/css/libs/video-js.css" />
    <link rel="stylesheet" href="/css/libs/video-js-quality.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar", { MalLoggedIn: MalLoggedIn }) %>

    <!-- Main Content -->
    <div class="container-fluids">
      <div class="anime-info">
        <div class="anime-info-left"></div>
        <div class="anime-info-right"></div>
      </div>
    </div>

    <!-- MyAnimeList's Utils -->
    <div class="StickyMalControls" id="mal-control"></div>

    <script src="/js/info.js"></script>
    <script src="/js/libs/videojs-http-source-selector.js"></script>
    <script src="/js/libs/video.js"></script>
    <script src="/js/libs/videojs-contrib-quality-levels.js"></script>
    <script src="/js/player/quality.js"></script>
    <script src="/js/player/play.js"></script>
    <script>
      init(
        "<%= type %>",
        "<%= infoapi %>",
        "<%= id %>",
        "<%= autoLoadNextChapter %>"
      );
    </script>
  </body>
</html>
