<html>
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Downloader | <%= catagorie %></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar", { MalLoggedIn: MalLoggedIn }) %>

    <main class="main-content">
      <h2><%= catagorie %></h2>
      <% if (data && data.results && data.results.length > 0) { %>
      <section class="anime-grid" id="anime-grid">
        <% data.results.forEach(result => { %>
        <a
          href="/mangainfo?<%= catagorie === 'Local Manga Library' ? 'localmangaid' : 'mangaid' %>=<%= result.id %>"
        >
          <div class="anime-item">
            <img
              src="./images/loading-image.png"
              data-src="<%= result.image %>"
              onerror="this.onerror=null; this.src='./images/image-404.png';"
              class="thumbnail lazy-image"
            />
            <% if (result?.totalChapters && result?.Downloaded) { %>
            <div class="episodes">
              <div class="downloaded">
                <div class="material-symbols-rounded">download_done</div>
                <%= result?.Downloaded?.length %>
              </div>
              <div class="total">
                <div class="material-symbols-rounded">download</div>
                <%= result?.totalChapters %>
              </div>
            </div>
            <% } %>
            <div class="overlay"><%= result.title %></div>
          </div>
        </a>
        <% }); %>
      </section>
      <% } %>
    </main>
    <!-- handle pagination & scroll -->
    <script src="/js/manga.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const lazyImages = document.querySelectorAll(".lazy-image");

        lazyImages.forEach((img) => {
          const tempImage = new Image();
          tempImage.src = img.getAttribute("data-src");

          tempImage.onload = function () {
            img.src = tempImage.src;
          };

          tempImage.onerror = function () {
            img.src = "./images/image404.png";
          };
        });
      });
      init(
        "<%= Pagination %>",
        "<%= catagorie %>",
        '<%= data?.hasNextPage ? "true" : "false" %>' === "true"
      );
    </script>
  </body>
</html>
